.contato {
  max-width: 140rem;
  padding: 10rem 4rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem 0rem;
  align-items: center;
  color: var(--cl);
}

.contato .subtitle {
  text-align: right;
  word-break: break-all;
}

.content-1 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contato-description {
  max-width: 120rem;
  background: var(--footer);
  padding: 10rem 2rem;
}

.contato-title {
  font-size: 6rem;
  margin-bottom: 3rem;
}

.contato-subtitle {
  font-size: 1.7rem;
  padding: 3rem 0;
  text-align: center;
}

.contato-paragraphy {
  font-size: 1.4rem;
  text-align: center;
  color: var(--gray-p);
}

.contato-input {
  background: linear-gradient(#8490ff, #62bbfc);
  padding: 2rem;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.label-h3 {
  font-size: 1.5rem;
  display: none;
}

.formulario-entrada  {
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.formulario-btn {
  background: var(--footer);
  color: var(--cl);
  border: none;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  align-self: center;
  align-self: flex-start;
  cursor: pointer;
}

.formulario-btn:hover {
  border-radius: 0.3rem;
}