body {
  padding-top: 8rem;
}

.description {
  max-width: 140rem;
  padding: 2rem 4rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8rem;
  align-items: center;
}

.description .cover img {
  height: 100%;
  object-fit: cover;
}

.description h6 {
  font-size: 1.4rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.description .city {
  margin-top: 2rem;
  text-align: right;color: var(--gray-p);
}

.description h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: normal;
}

.description p {
  color: var(--gray-p);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.social-profile {
  display: flex;
  margin: 4rem;
  gap: 5rem;
  background: linear-gradient(to left, #8490ff, #62bbfc);
  width: 25rem;
  justify-content: center;
}

.social a {
  display: flex;
  gap: .5rem;
  text-decoration: none;
  padding: 1rem;
}

.social a p {
  align-self: center; 
  margin-bottom: 0px;
  color: var(--cl);
  font-size: 1.5rem;
}

.social-profile:hover {
  background: linear-gradient(to right, #8490ff, #62bbfc);
}

@media (max-width: 1000px) {
  .description {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }  

  .description h1 {
    font-size: 4rem;
  }
}

@media (max-width: 800px) {
  .description {
    grid-template-columns: 1fr;
  }

  .cover img {
    display: none;
  }
}

