.experiencia {
  max-width: 140rem;
  padding: 10rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem 6rem;
}

.experiencia .subtitle {
  text-align: right;
  word-break: break-all;
}

.experiencia-text {
  font-size: 1.4rem;
  line-height: 2;
  max-width: 50ch;
  color: var(--gray-p);
}

.experiencia-text strong {
  color: var(--sub);
}

.buttons-list {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  font-size: 1.4rem;
  align-items: center;
}

.buttons-list .button a {
  background: linear-gradient( to left, #8490ff, #62bbfc);
  text-decoration: none;
  padding: 1rem 2rem;
  color: var(--cl);
}

@media (max-width: 1000px) {
  .subtitle {
    font-size: 5rem;
  }

  .buttons-list{
    flex-direction: column;
    gap: 3rem;
  }
}

@media (max-width: 900px) {
  .experiencia {
    grid-template-columns: 1fr;
  }

  .buttons-list {
    flex-direction: row;
  }
}

@media (max-width: 550px) {
  .buttons-list {
    flex-direction: column;
  }
}


