.experiencia {
  max-width: 120rem;
  padding: 4rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6rem;
}

.experiencia .subtitle {
  color: #2a0647;
}

.experiencia-text {
  font-size: 1.6rem;
  line-height: 1.5;
  grid-column: 1 / -1;
  max-width: 80ch;
  text-align: center;
  justify-self: center;
  color: #2a0647;
}

.experiencia-text strong {
  color: black;
  font-size: 1.7rem;
}

.data-title {
  font-size: 3.2rem;
  text-transform: uppercase;
  color: #ba27fa;
  align-items: center;
}

.data-container {
  display: flex;
  text-align: center;
  font-size: 1.6rem;
  color: #2a0647;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.data-list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.data-project a {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--black);
  display: block;
  background: linear-gradient(#e99efa, #ba27fa);
  border-radius: 0.5rem;
}

.data-button {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--black);
  background: linear-gradient(#e99efa, #ba27fa);
  border-radius: 0.5rem;
}

@media (max-width: 800px) {
  .data-title {
    align-self: center;
  }

  .data-list {
    gap: 1rem;
    justify-content: center;
  }

  .data-project a {
    padding: 0.5rem 0.7rem;
  }

  .data-button {
    padding: 0.5rem 0.7rem;
  }

  .data-container {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .data-subtitle {
    display: none;
  }
}

@media (max-width: 550px) {
  .experiencia {
    grid-template-columns: 1fr;
  }

  .data-title {
    text-align: center;
  }

  .experiencia-text {
    max-width: none;
  }
}
