.footer {
  background: var(--footer);
}

.footer-container {
  max-width: 140rem;
  padding: 8rem  6rem ;
  margin: 0 auto;
  display: grid;
  gap: 8rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-text {
  font-size: 1.4rem;
  color: var(--sub);
}

.footer-text span{
  color: var(--cl);
}

.footer-container .logo {
  color: var(--cl);
  align-self  : center;
}

.footer-contato {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-content: center;
}

.footer-copy {
  font-size: 1.4rem;
  color: var(--gray-p);
  grid-column: 1 / -1;
  text-align: center;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }

  .footer ul { 
    grid-row: 2;
    grid-column: 1 / -1;
  }
}

@media (max-width: 800px) {
  .footer-container {
    gap:3rem;
  }

  .footer-text {
    grid-column: 1 / -1;
  }

  .footer .logo {
    grid-column: 1 / -1;
  }

  .footer-contato {
    justify-self: center;
  }

  .footer-contato li {
    max-width: 2rem;
  }
}

@media (max-width: 500px) {
  .footer-container .logo {
    font-size: 1rem;
  }
  
  .footer-container .logo span{
    font-size: 1.5rem;
  }
}