.footer {
  background: var(--footer);
  color: white;
}

.footer-container {
  max-width: 120rem;
  padding: 8rem  6rem ;
  margin: 0 auto;
  display: grid;
  gap: 10rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-text {
  font-size: 1.4rem;
  color: var(--sub);
}

.footer-text span{
  color: var(--cl);
}

.footer-container .logo {
  color: var(--cl);
}

.footer-contato {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer-copy {
  font-size: 1.4rem;
  color: var(--gray-p);
  grid-column: 1 / -1;
  text-align: center;
}

