.formacao {
  max-width: 140rem;
  padding: 4rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem 6rem;
  font-size: 1.5rem;
}

.subtitle {
  padding-top: 2rem;
  text-align: right;
  word-break: break-all;
}

.formacao-card {
  padding: 3rem;
  justify-self: center;
}

.formacao-card img {
  max-width: 15rem;
}

.formacao-title {
  margin: 2rem 0;
  text-align: center;
}

.formacao-paragraph {
  text-align: center;
}

.formacao-cursos {
  grid-column: 1 / -1;
}

.curso-btn {
  margin-top: 3rem;
  padding: 1rem 2rem;
  text-decoration: none;
  background: linear-gradient( to left, #8490ff, #62bbfc);
  color: var(--cl);
  display: block;
}


