@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --black: #222;
  --gray-backgroud: #f9f9ff;
  --white: #fff;
  --gray-p: #777;
  --cor1: #8490ff;
  --cor2: #62bbfc;
  --footer: #04091e;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  color: var(--black);
  min-height: 100vh;
  background: #f9f9ff;
  background-repeat: no-repeat;
}

h1, h2, h3, p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitle {
  font-size: 7.5rem;
  text-transform: uppercase;
  grid-column: 1 / -1;
  text-align: center;
}