.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.subtitle1 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle2 {
  text-align: center;
  margin-bottom: 32px;
  display: block;
}

.botao {
  background-color: var(--cor-p1);
  padding: 16px 32px;
  display: block;
  max-width: max-content;
  border-radius: 5px;
}
