.header-bg {
  background-color: var(--cor-p1);
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  display: flex;
  gap: 30px;
  color: inherit;
}

.logo {
  padding: 10px 0;
}